* {
    font-family: 'Fira Sans';
    margin: 0;
    padding: 0;
    border: 0;
}

h1 {
    font-size: 3rem;
    font-weight: 700;
}

h2 {
    font-size: 2rem;
    font-weight: 700;
}

.icon {
    width: 1em;
}
